[package]
name = "helloworld"
version = "0.1.0"
edition = "2018"

[[bin]]
name = "client"
path = "src/client.rs"

[[bin]]
name = "server"
path = "src/server.rs"

[dependencies]
ntex = "0.5"
ntex-grpc = "0.2.0-b.2"

async-trait = "0.1.0"
clap = "2"
bitflags = "1.3"
log = "0.4"
env_logger = "0.9"
num_cpus = "1"
openssl = "0.10"

[dev-dependencies]
env_logger = { version = "0.9", default-features = false }
ntex = { version = "0.5", features = ["openssl", "tokio"] }
ntex-tls = { version = "0.1", features = ["openssl"] }
ntex-connect = { version = "0.1", features = ["openssl", "tokio"] }
